# Entornos / secretos
.env
.env.*
*.keystore
*.jks
*.p12
*.pem
*.key
*.cer

# Firebase/iOS
google-services.json
GoogleService-Info.plist

# Flutter/IDE
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.vscode/

# Sistemas
.DS_Store
Thumbs.db
